.content-wrapper {
    width: 100%;
    height: 78.5vh;
    background-color: rgb(243, 243, 243);
    border: 2px solid rgb(201, 201, 201);
    border-radius: 0.5rem;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(201, 201, 201);
    background-color: #ffffff;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.title {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    color: rgb(68, 68, 68);
}

img {
    width: 4rem;
    height: 4.75rem;
}

.data-block {
    display: flex;
    justify-content: space-around;
}

.trip-table {
    width: 40%;
    height: fit-content;
    background-color: rgb(243, 243, 243);
}

.trips-section{
     height: 100%;
}